DISCORD_APPLICATION_ID=1493217033956102215
DISCORD_BOT_TOKEN=MTQ5MzIxNzAzMzk1NjEwMjIxNQ.GO-pY-.ZGBsGmC9fIU1AQ3RTTthR8svKkeCh4XZg4g2eM
DISCORD_CLIENT_SECRET=Cm5hDndXy2Q3qpJDwh0wSBjkOZCm4ny
DATABASE_URL=postgresql://sentinal_db_user:gjvngzuze0oCQItRkzA3kuGLzTRsA6Ke@dpg-da5d27mk1f9s738a77sg-a.oregon-postgres.render.com/sentinal_db
# For Wispbyte use External DATABASE_URL, for Render internal use -a host
